/* CheckoutSteps.css */

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
  text-align: center;
  padding: 0.5rem 0.25rem;
  white-space: nowrap;
}

.checkout-steps > div.active {
  border-bottom: 0.2rem solid #ec2222;
  color: #b51212;
}

/* Responsive styles */
@media (max-width: 767px) {
  .checkout-steps > div {
    font-size: 0.8rem;
    padding: 0.5rem 0.15rem;
  }
}

@media (max-width: 400px) {
  .checkout-steps > div {
    font-size: 0.7rem;
    padding: 0.4rem 0.1rem;
  }
}
