/* Measurement.css */

.title-measurement {
  font-size: 2.5em;
  text-align: center;
}

@media (max-width: 767px) {
  .title-measurement {
    font-size: 2em;
  }
}

@media (max-width: 480px) {
  .title-measurement {
    font-size: 1.8em;
  }
}
