/* OrderPage.css */

.paypal-section {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
}

.paypal-buttons-container {
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  padding: 5px;
}

.loading-box {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 576px) {
  .paypal-section {
    padding: 0.75rem;
  }

  .paypal-buttons-container {
    max-width: 50%;
  }
}
